{{!-- Displays a list of my favorite pets and an image--}}
<content>
  <h2>My favorite pets</h2>
  <ul>
    <li class="odd">Dogs(Bernese Mountain Dog)</li>
    <li class="even">Dogs(Husky)</li>
    <li class="odd">Dogs(Golden Retriever)</li>
    <li class="even">Dogs(Labrador)</li>
    <li class="odd">Dogs(Shiba Inu)</li>
    <li class="even">Dogs(Cocker Spaniel)</li>
    <li class="odd">Dogs(Corgi)</li>
    <li class="even">Any dogs in general</li>
  </ul>
  <img id="pupper" src="./puppy_img.jpg" alt="puppy-image" />
</content>